<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "mx.cenet.hotelApp1"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>HotelApp1</name>

    <description>
        Practica de Reserva de hoteles
    </description>

    <author href="https://orlando.igitsoft.com" email="info@igitsoft.com">
        Orlando Vazquez
    </author>

		
	<preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="orientation" value="portrait" />
		
	<plugin name="cordova-plugin-media-capture"/>
	<plugin name="cordova-plugin-file-transfer"/>
</widget>